version: 2

docker_defaults: &docker_defaults
    docker:
        - image: circleci/node:8.11.1-browsers
    working_directory: ~/project/repo

docker_defaults_deployment: &docker_defaults_deployment
    docker:
        - image: circleci/python:3.6.4
    working_directory: ~/project/repo

attach_workspace: &attach_workspace
    attach_workspace:
        at: ~/project

install_steps: &install_steps
    steps:
        - checkout
        - restore_cache:
            name: Restore node_modules cache
            keys:
                - dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
                - dependency-cache-{{ .Branch }}-
                - dependency-cache-
        - run:
            name: Installing Dependencies
            command: |
                sudo chmod +x ./.circleci/install-deps.sh
                sudo ./.circleci/install-deps.sh
        - save_cache:
            name: Save node_modules cache
            key: dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
            paths:
                - node_modules/
        - persist_to_workspace:
            root: ~/project
            paths:
                - repo
workflows:
    version: 2
    build_pipeline:
        jobs:
            - build
            - unit_test:
                context: org-global
                filters:
                    branches:
                        ignore:
                            - master
                requires:
                    - build
            - deployment-staging:
                context: org-global
                filters:
                    branches:
                        only: master
            - deployment-production:
                requires:
                    - approve-deployment
                filters:
                    branches:
                        only: master
                    tag:
                        only: /.*/
jobs:
    build:
        <<: *docker_defaults
        <<: *install_steps
    unit_test:
        <<: *docker_defaults
        steps:
            - *attach_workspace
            - run:
                name: Running unit tests
                command: |
                  sudo npm test -- -R min
            - persist_to_workspace:
                root: ~/project
                paths:
                    - repo
    deployment-staging:
        <<: *docker_defaults_deployment
        environment:
            DEPLOY_ENVIRONMENT: staging
        steps:
            - checkout
            - *attach_workspace
            - setup_remote_docker:
                version: 17.05.0-ce
                docker_layer_caching: true
            - run:
                name: Installing Deployment Dependencies
                command: |
                    ./.circleci/install-deps.sh
            - run:
                name: Deploying Serverless to Staging
                command: |
                    ./.circleci/deploy.sh
            - persist_to_workspace:
                root: ~/project
                paths:
                    - repo
    deployment-production:
        <<: *docker_defaults_deployment
        environment:
            DEPLOY_ENVIRONMENT: production
        steps:
            - checkout
            - *attach_workspace
            - setup_remote_docker:
                version: 17.05.0-ce
                docker_layer_caching: true
            - run:
                name: Installing Deployment Dependencies
                command: |
                    ./.circleci/install-deps.sh
            - run:
                name: Deploying Serverless to Production
                command: |
                    ./.circleci/deploy.sh
            - persist_to_workspace:
                root: ~/project
                paths:
                    - repo
